<h4 class="text-center">Register to embrace a new world!</h4>

<form class="form-group">
    <div class="form-group">
        <input class="form-control" placeholder="E-mail" autofocus>
    </div>

    <div class="form-group">
        <input class="form-control" placeholder="Full Name">
    </div>
    
    <div class="form-group">
        <input class="form-control" placeholder="User Name">
    </div>
    
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password">
    </div>

    <button class="btn btn-primary">Register</button>

    <p>Already a user? <a [routerLink]="['']"> Sign in!</a></p>
</form>